<p *ngIf="!cube"><em>Loading...</em></p>

<div class="card" *ngIf="cube">
  <div class="card-header">
    Cube: {{cube.size}} X {{cube.size}} X {{cube.size}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">Id:</div>
          <div class="col-md-8">{{cube.id}}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Size:</div>
          <div class="col-md-8">{{cube.size}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
