<h1>Cubes</h1>

<p>List of cubes previosly configured</p>

<p *ngIf="!cubes"><em>Loading...</em></p>

<button class="btn btn-danger" (click)="createCube()">
  <span class="glyphicon glyphicon-add"></span> Create
</button>

<table class='table table-striped' *ngIf="cubes">
  <thead>
    <tr>
      <td>Id</td>
      <td>Size</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cube of cubes'>
      <td>{{cube.id}}</td>
      <td>
        <a [routerLink]="['/cubes/detail', cube.id]">
          {{cube.size}} X {{cube.size}} X {{cube.size}}
        </a>
      </td>
      <td>
        <button type="button" class="btn btn-info" (click)="updateCube(cube.id)">
          <span class="glyphicon glyphicon-edit"></span>Edit
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteCube(cube)">
          <span class="glyphicon glyphicon-edit"></span>Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
